_*
# class2/* 
# class3/*
# class4/*
# class5/*
# class6/*
.DS_Store
# assignments/assignment3.md
# assignments/assignment4.md
# assignments/assignment5.md
# assignments/assignment6.md
extra-reverse/
~$*
transit/
housing/